.Poster {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img {
  display: flex;
  width: 309px;
  height: 350px;
}
.imageContainer {
  display: flex;
  flex-direction: row;
  width: 1296px;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 10px;
}
