.geoImage {
  width: 856px;
  height: 656px;
}
.geo {
  width: 1296px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid red;
  width: 420px;
  height: auto;
  border-radius: 2px;
  background-color: #954513;
  padding-top: 35px;
  align-items: center;
}
.text_h {
  font-weight: 400;
  font-size: 40px;
}

.adress {
  display: flex;
  flex-direction: column;
  width: 316px;
}
.text_h1 {
  font-weight: 700;
  font-size: 18px;
}
.text_p1 {
  font-weight: 400;
  font-size: 14px;
  width: 100%;
  font-family: "Stolzl";
}
.border {
  width: 316px;
  border-bottom: 1px solid #ffffff;
  opacity: 0.5;
}
